.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 1px 1px 15px rgb(24, 23, 23);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  height: 25px;
  margin-right: 20px;
  transition: transform 0.2s, opacity 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

.user-icon {
  height: 30px;
  border-radius: 50%;
  border: 1px solid #343a40;
  padding: 2px;
  transition: transform 0.2s, opacity 0.2s;
}

.user-icon:hover {
  transform: scale(1.1);
}

 
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.header-container {
  animation: fadeIn 0.5s ease-in-out;
}
